# Database
DATABASE_URL="mysql://root:senha@localhost:3306/private_cloud_db"

# Server
PORT=3000
NODE_ENV=development

# Session
SESSION_SECRET=seu_secret_super_seguro_aqui_mude_em_producao

# File Upload
MAX_FILE_SIZE=10737418240
UPLOAD_DIR=./public/uploads

# App
APP_NAME=Modernize Cloud
APP_URL=http://localhost:3000

